/* Global Styles */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F6F6F6;
    margin: 0;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
}

.logo {
    color: #25318d;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
}

.cta-button {
    background-color: #740131;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    color: #25318D;
    cursor: pointer;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

h1, h2 {
    font-size: 2rem;
    color: #FFFFFF;
}

p {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #25318D;
    border: none;
    cursor: pointer;
}

/* Hero Section */
.hero-section {
    background-color: #25318D;
}

.logo img {
    height: 60px;
    vertical-align: middle;
}

/* Introduction Section */
.introduction-section {
    background-color: #740131;
}

/* Courses Section */
.courses-section {
    background-color: #740131;
}
