/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
    margin: 0;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
}

.logo {
    width: 150px;
}

.cta-button {
    background-color: #740131;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    color: #25318D;
    cursor: pointer;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero Section */
.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #25318D;
    color: #FFFFFF;
    padding: 50px 0;
}

.hero-section .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h1, .hero-section p {
    margin-right: 20px;
}

.hero-section button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #25318D;
    border: none;
    cursor: pointer;
}

/* Introduction Section */
.introduction-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #740131;
    color: #FFFFFF;
    padding: 50px 0;
}

/* Video Subscription Section */
.video-subscription-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: #25318D;
    padding: 50px 0;
}

.video-subscription-section button {
    background-color: #740131;
    color: white;
}

/* Courses Section */
.courses-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #740131;
    color: #FFFFFF;
    padding: 50px 0;
}

.courses-section button {
    background-color: #25318D;
    color: white;
}

/* Payment Form Section */
.payment-form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: #25318D;
    padding: 50px 0;
}

.payment-form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.payment-form-section input {
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    border: 1px solid #25318D;
}

.payment-form-section button {
    padding: 10px 20px;
    background-color: #253
